@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("./assets/css/base.css");
@import url("./assets/css/main.css");


*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body{
  background-color: #101419;
  color: #fff !important;
}

body.home {
  overflow: hidden
}


a{
  text-decoration: none !important;
}


img {
	border-style: none;
}

.focuscaption, .drop-cap, .lead{
  color: #fff !important;
}

.s-header {
  z-index: 100;
  height: 7.2rem;
  width: 100%;
  position: absolute;
  top: 2.8rem;
  left: 0;
}


/* Header styles */

.s-header {
  z-index: 100;
  height: 7.2rem;
  width: 100%;
  position: absolute;
  top: 2.8rem;
  left: 0;
}

.header-logo {
  z-index: 102;
  display: inline-block;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
  transform: translate3d(0, -50%, 0);
  position: absolute;
  left: 11rem;
  top: 50%;
}

.header-logo::before {
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  height: 1px;
  width: 9rem;
  position: absolute;
  top: 50%;
  left: -11rem;
}

.header-logo a {
  display: block;
  padding: 0;
  outline: 0;
  border: none;
}

.header-logo img {
  width: 108px;
  height: 28px;
}

.header-nav-wrap {
  z-index: 101;
  position: absolute;
  right: 4.4rem;
  top: 1.2rem;
}

.header-nav {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  line-height: 4.8rem;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
}

.header-nav a {
  color: rgba(255, 255, 255, 0.8);
}

.header-nav a:hover,
.header-nav a:focus {
  color: #960200;
}

.header-nav li {
  display: inline-block;
  margin: 0 0.8rem;
}

.header-menu-toggle {
  z-index: 102;
  display: none;
  height: 4.2rem;
  width: 4.2rem;
  line-height: 4.2rem;
  font-family: "Lora", serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
  position: absolute;
  right: 32px;
  top: 1rem;
}

.header-menu-toggle:hover,
.header-menu-toggle:focus {
  color: #d3bcc0;
}

.header-menu-toggle span {
  display: block;
  width: 2.4rem;
  height: 2px;
  background-color: #d3bcc0;
  transition: all 0.5s;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  left: 0.9rem;
  right: auto;
  bottom: auto;
}

.header-menu-toggle span::before,
.header-menu-toggle span::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.header-menu-toggle span::before {
  top: -0.9rem;
}

.header-menu-toggle span::after {
  bottom: -0.9rem;
}

.header-menu-toggle.is-clicked span {
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.1s;
}

.header-menu-toggle.is-clicked span::before,
.header-menu-toggle.is-clicked span::after {
  background-color: white;
}

.header-menu-toggle.is-clicked span::before {
  top: 0;
  transform: rotate(135deg);
}

.header-menu-toggle.is-clicked span::after {
  bottom: 0;
  transform: rotate(225deg);
}

/* Mobile menu styles */
@media (max-width: 800px) {
  .header-nav-wrap {
    display: none;
    height: auto;
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 14rem 4.4rem 6.4rem;
    position: absolute;
    top: -2.8rem;
    left: 0;
  }

  .header-nav-wrap .header-nav {
    display: block;
    height: auto;
    font-size: 10px;
    margin: 0 0 4rem 0;
    padding-left: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
  }

  .header-nav-wrap .header-nav li {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  }

  .header-nav-wrap .header-nav li a {
    padding: 18px 0;
    line-height: 20px;
    display: block;
  }

  .header-menu-toggle {
    display: block;
  }

  #mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: #000;
    background-color: rgba(0, 0, 0, 0.99);
    top: 40px; 
    right: 0;
    left: 0;
    z-index: 999;
  }

  #mobile-menu:hover{
    color: #960200;
  }
  
  .nav-menu-wrapper {
    display: none;
  }

  .nav-icon {
    display: block;
    margin: 2%; 
    padding: 2%;
  }

  .logo {
    width: 90%;
    margin-top: -4%;
    margin-left: -36%;
  }

  .mobile-menu-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(14, 16, 61, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  .mobile-menu-content {
    padding: 20px;
  }

  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #960200;
    margin-bottom: 10px;
  }


  .mobile-menu-link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: background 0.3s;
  }

  .mobile-menu-link:hover {
    background: #eee;
    color: #3b0d11
  }
  
    .abt_header .typed-text{
      position: relative;
      left: 0%;
      padding: 10px;
      margin: auto;
    }
  
  .more {
    position: relative;
    top: -1.5%;
    font-size: smaller;
  }
  .footer__heading{
    position: relative;
    left: 0%
}
}