/* .featured{
    position: relative;
    left:3%;
} */

.more{
    float: right;
    text-decoration: none;
    color:#101419;
    position: relative;
    top: -8%;
    right:5%
}

.more:hover, .lists:hover{
    color: #3b0d11 !important;
}


#events{
    color: #fff;
    position:relative;
    left:5%;
}


.card-slide{
    padding: 10px;
    margin: 10px;
}

.lists, .lists__heading{
    position: relative;
    left: 7%
}

.footer__heading{
    position: relative;
    left: 6%
}

.close{
    position:absolute;
    top:1%;
    right:0%;
}